body {
  background-color: lightblue;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
nav {
  font-size: 3em;
  font-weight: bold;
  font-family: hobo-std, sans-serif;
  text-decoration: none;
}
nav a:link {
  color: green;
}

nav a:hover {
  color: red;
} 
